#appinion-widget > .widget-wrap > .video-wrap .gallery-controlls {
  position: absolute;
  width: 100%;
  bottom: 74px;
  display: flex;
  justify-content: center;
}

#appinion-widget
  > .widget-wrap
  > .video-wrap
  .gallery-controlls
  > .controll-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#appinion-widget
  > .widget-wrap
  > .video-wrap
  .gallery-controlls
  > .controll-item
  > video {
  width: 34px;
  height: 48px;
  cursor: pointer;
  object-fit: cover;
  margin: 5px;
  border-radius: 8px;
}

#appinion-widget
  > .widget-wrap
  > .video-wrap
  .gallery-controlls
  > .controll-item
  > div {
  width: 8px;
  height: 8px;
  border-radius: 180px;
}
